/* @import "~bootstrap/dist/css/bootstrap.css" */
.description{
    font-size: larger;
    
}
p{
    text-align: center; 
    font-weight: 800; 
    font-style: italic; 
    font-size: larger; 
    color:#96034a ;
}
.p1{
    color: black;
    font-size: xx-large;
}
.img{
    background-image: url(https://thumbs.dreamstime.com/b/wooden-background-old-blue-shabby-wood-planks-tattered-dilapidated-fence-natural-creative-texture-editing-design-ragged-220692401.jpg);
    
    background-size: 100%;
    max-width: 100%;
    height: auto;

}
.description{
    background-color: black;
}

.detail2{
    font-size: larger; 
    font-weight: 500;
    text-align: center;
}
#btn{
    margin-left: 40%;
}



