/* You can add global styles to this file, and also import other style files */
body{
    
    margin: 0;
    /* background-color: rgb(54, 52, 52); */
     height: 100vh;
     width: 100;
    
       
}

