<!--<p>form works!</p>-->

<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container" >
            <h1 class="title1">Github Search!!!</h1>
            <br>


            <form #form="ngForm" >

                <p>Kindly enter your Github username and Submit in order to view your Repositories.</p>
                <br>
                

                <!-- name -->
                <label for="gname">Github username</label>
                <br>
                  <input type="text" name="typedWord" class="input" placeholder="Your Github username" [(ngModel)] ="typedWord" />
                  <br>
                
                <button type="submit" class="button is-danger is-large" (click)="outputValue();" >Submit</button>
              
              </form>   
        </div>
    </div>
</section>
